/*

Comparto TemplateMo

https://templatemo.com/tm-544-comparto


Color Codes
------------
Purple: #9999CC
Pink: #CC9999
Grey: #666666
Sky Blue: #99CCFF
Green: #99CC99
Light Grey: #F2F2F2
Text Color: #666

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

ul,
h1,
h2,
h3,
h4,
p,
figure {
  padding: 0;
  margin: 0;
}

body {
  font-family: font-file-82132;
  font-size: 18px;
  overflow-x: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  background-color: rgb(29, 29, 29);
}

/* h2 {
  font-size: 1.5rem;
} */

a {
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
p {
  color: rgb(255, 255, 254);
  line-height: 1.7;
  margin-bottom: 35px;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
h3 {
  text-align: center;
  font-size: 2rem;
}
.container-fluid {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}

.tm-mb-0 {
  margin-bottom: 0;
}
.tm-mb-1 {
  margin-bottom: 20px;
}
.tm-mb-2 {
  margin-bottom: 40px;
}
.tm-mb-3 {
  margin-bottom: 60px;
}
.tm-mb-4 {
  margin-bottom: 30px;
}
/* .tm-bg-color-1 {
  background-color: #9999cc;
} */
.tm-bg-color-2 {
  background-color: #cc9999;
}
.tm-bg-color-3 {
  background-color: #666666;
}
.tm-bg-color-4 {
  background-color: #99ccff;
}
.tm-bg-color-5 {
  background-color: #99cc99;
}
.tm-bg-color-6 {
  background-color: #f2f2f2;
}
.tm-bg-color-7 {
  background-color: #ddd;
}
.tm-bg-color-8 {
  /* background-color: #edeeef; */
} /* Nav background */
.tm-bg-color-white {
  background-color: white;
}
.tm-text-color-1 {
  color: #666;
}
.tm-text-color-2 {
  color: #333;
}
.tm-text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}

.tm-site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4.7rem;
  background-color: rgb(29, 29, 29);
  margin: 0;
  /* height: 210px; */
}

.tm-nav-items {
  display: flex;
}
.title-wrapper {
  margin: 15rem auto;
  text-align: center;
}
.title-wrapper h1 {
  font-size: 4.2rem;
  line-height: 6.6rem;
  letter-spacing: 0.06em;
  font-weight: 500;
}
.title-wrapper h3 {
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.01em;
  font-weight: 100;
}

.tm-site-name-container {
  /* width: 29.752%; */
  /* min-width: 300px; */
  /* margin-right: 20px; */
  /* height: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-transform: uppercase;
}

.tm-nav-container {
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
  /* width: 68.595%; */
  /* height: 100%; */
  /* padding: 20px; */
}

.tm-nav-item {
  list-style: none;
  /* display: flex;
  justify-content: space-between; */
  /* display: inline-block; */
  width: 100px;
  /* height: 145px; */
  /* margin-right: 15px; */
  color: rgb(255, 255, 254);
}

.tm-nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 899px) {
  .tm-site-header {
    /* height: auto; */
    flex-direction: column;
  }
  .tm-site-name-container,
  .tm-nav-container {
    width: 100%;
  }

  .tm-site-name-container {
    margin-right: 0;
    /* padding: 50px; */
  }
}

@media (max-width: 600px) {
  .tm-nav-item {
    margin: 10px;
  }
  .tm-nav-item:last-child {
    margin-right: 10px;
  }

  /* .tm-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  } */
}
.navbar-nav {
  /* margin-left: auto; */
  position: absolute;
  right: 2rem;
}
.tm-nav-link {
  color: rgb(255, 255, 254);
  width: 100%;
  text-align: center;
  text-decoration: none;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* padding-left: 25%; */
  font-size: 1.2rem;
}

.tm-nav-item.current .tm-nav-link,
.tm-nav-link:hover {
  text-decoration: none;
  border-bottom: 3px solid rgb(250, 112, 153);
}
.tm-nav-link:hover {
  color: #cc9999;
  border-bottom: 3px solid rgb(250, 112, 153);
}
@media (max-width: 1033px) {
  .tm-nav-item {
    width: 120px;
    /* height: 120px; */
  }

  /* .tm-nav-link {
    padding-left: 20px;
  } */
}

/* .tm-img-responsive {
  max-width: 100%;
  height: auto;
} */

.tm-section-1-l {
  width: 57.85%;
  margin-right: 1.65%;
}

.tm-section-1-r {
  padding: 50px 40px;
  /* width: 40.5%; */
}
.tm-section-1-r h2 {
  font-size: 4rem;
}

/* .tm-row {
  display: flex;
}

.tm-btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.1rem;
  border: none;
  background-color: #cc9999;
  color: white;
}

.tm-btn:hover {
  color: white;
  background-color: #875959;
}

.tm-social-row {
  padding: 70px;
}
.tm-icon {
  width: 33.3334%;
}

.tm-icon-inner {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tm-icon-inner > a > * {
  color: white;
}
.tm-icon-inner h3 {
  line-height: 1.7;
}

.tm-section-2-l {
  width: 40.5%;
  margin-right: 1.65%;
}

.tm-section-2-r {
  width: 57.85%;
}
.tm-box-pad {
  padding: 40px 50px;
}

.tm-em-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 60px 45px;
}

.tm-em-box p {
  font-style: italic;
  line-height: 2;
  max-width: 370px;
}

.tm-btn-2 {
  background-color: #666768;
}

.tm-btn-2:hover {
  color: white;
  background-color: #989a9b;
}

.tm-btn-3 {
  background-color: #99cc99;
}
.tm-btn-3:hover {
  background-color: #547d54;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
} */

/* works */
#works {
  margin: 20rem 0;
}
.works-header {
  margin-bottom: 5rem;
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: 500;
  border-bottom: 3px solid rgb(250, 112, 153);
}
.project {
  font-size: 4vw;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: 500;
}
.project-detail {
  margin: 5rem 0;
  font-size: 2rem;
}

/* skills */
.skills-wrapper {
  width: 98%;
  margin: 2rem auto 20rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills_item {
  margin: 0.8rem;
  text-align: center;
  width: 5rem;
}
/*
.skills-items-2 {
  display: flex;
  justify-content: space-around;
}
.skills-items-1 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
} */
.skills-header {
  text-align: center;
  font-size: 3rem;
  border-bottom: 3px solid rgb(250, 112, 153);
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.skills-item__i {
  font-size: 4rem;
  color: rgb(250, 112, 153);
}
.skills-item__p {
  font-size: 0.8rem;
  color: rgb(250, 112, 153);
  text-align: center;
}
/* Gallery */
/* .tm-gallery-header {
  padding: 40px 40px 30px;
}
.text-right {
  text-align: right;
}

.tm-gallery-filter {
  text-align: center;
  list-style: none;
}

.tm-gallery-filter > li {
  display: inline-block;
}

.tm-gallery-filter > li > a {
  display: block;
  margin: 5px;
  color: #333;
}

.tm-gallery-filter > li > a.active,
.tm-gallery-filter > li > a:hover {
  color: #fff;
}

.tm-gallery-section {
  padding-bottom: 40px;
}

.tm-gallery-outer {
  margin-left: -10px;
  margin-right: -10px;
  background-color: white;
}

.tm-gallery {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 0;
  max-width: 1225px;
}

.tm-gallery-item {
  padding: 10px;
  width: 20%;
}

@media (max-width: 1200px) {
  .tm-gallery {
    max-width: 1200px;
  }
  .tm-gallery-item {
    width: 25%;
  }
}

/* 
  Gallery Item Hover Effect
  https://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/
*/

/* Common style */
/* .tm-gallery-item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 0;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.tm-gallery-item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.tm-gallery-item figure figcaption {
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tm-gallery-item figure figcaption::before,
.tm-gallery-item figure figcaption::after {
  pointer-events: none;
}

.tm-gallery-item figure figcaption,
.tm-gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* .tm-gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.tm-gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  color: white;
}

.tm-gallery-item figure h2 span {
  font-weight: 800;
}

.tm-gallery-item figure h2,
.tm-gallery-item figure p {
  margin: 0;
}

.tm-gallery-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
} */
*/

/*---------------*/
/***** Bubba *****/
/*---------------*/
/* 
figure.effect-bubba {
  background: #9e5406;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba h2 {
  font-size: 1.5rem;
  padding-top: 20%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  color: white;
  width: 100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 900px) {
  .tm-gallery {
    max-width: 900px;
  }
  .tm-gallery-item {
    width: 33.3334%;
  }
}

@media (max-width: 620px) {
  .tm-gallery {
    max-width: 600px;
  }
  .tm-gallery-item {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .tm-gallery {
    max-width: 280px;
  }
  .tm-gallery-item {
    width: 100%;
  }
} */

/* Contact */
/* .tm-contact-title {
  padding-top: 55px;
  padding-bottom: 60px;
  text-align: center;
} */


.contact-header {
  text-align: center;
  font-size: 2rem;
  color: red;
}
.items {
  text-align: center;
}
.items2 {
  margin-bottom: 20rem;
}
.tm-contact-main {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.map-outer {
  position: relative;
  text-align: right;
  min-height: 400px;
  width: 35%;
  height: 100%;
  padding-right: 10px;
}

.gmap-canvas {
  overflow: hidden;
  background: none !important;
  min-height: 400px;
  width: 100%;
}

.contact-form-outer {
  width: 37%;
}
.contact-info-outer {
  width: 28%;
}

.contact-form-outer {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-info-outer {
  padding-left: 10px;
}

.contact-info {
  padding: 45px 40px;
  height: 100%;
}

#contact-form {
  height: 100%;
  padding: 35px 65px;
}

@media (max-width: 440px) {
  #contact-form {
    padding: 35px;
  }
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #999a9b;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ml-auto {
  margin-left: auto;
  display: block;
}
/* 
a {
  color: #666;
} */
.items a:hover {
  color: #cc9999;
}
button:hover {
  cursor: pointer;
}
.items1 {
  margin-top: 2rem;
}
.items1 a {
  font-size: 1.5rem;
  color: rgb(252, 252, 252);
}
.items2 {
  margin-top: 0.5rem;
}
.items2 a {
  font-size: 1rem;
  color: rgb(252, 252, 252);
}

/* .tm-social-link {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  display: inline-block;
  margin: 8px;
}

.tm-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} */

@media (max-width: 992px) {
  .tm-section-1-l,
  .tm-section-1-r,
  .tm-section-2-l,
  .tm-section-2-r {
    width: 100%;
  }

  .tm-section-1-l {
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  .tm-section-2-l {
    margin-bottom: 20px;
  }
  .tm-section-2-r {
    text-align: center;
  }

  .tm-section-1-r,
  .tm-section-2-l {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .tm-about-row,
  .tm-services-row {
    flex-direction: column;
  } */

  .tm-social-row {
    padding: 70px 30px;
  }
}

@media (max-width: 800px) {
  .tm-social-row {
    flex-direction: column;
  }
  .tm-icon {
    width: 100%;
  }
  .tm-icon-inner {
    padding: 30px;
  }
}

@media (min-width: 1240px) {
  .tm-section-1-r {
    max-height: 700px;
  }
}

@media (max-width: 1145px) {
  .map-outer,
  .contact-form-outer,
  .contact-info-outer {
    width: 100%;
    padding: 0;
  }

  .map-outer,
  .contact-form-outer {
    margin-bottom: 20px;
  }

  .tm-contact-main {
    flex-direction: column;
  }
}

/* https://codepen.io/matthewcain/pen/ZepbeR */
#button {
  padding-top: 1px;
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.hamburger {
  display: none;
}
.content {
  display: none;
}
/* mobile version */
@media (max-width: 56.25rem) {
  .tm-text-white {
    display: none;
  }
  .type-me {
    margin: 10rem auto 20rem auto;
  }
  .tm-nav-items {
    display: none;
  }
  .skills-items {
    flex-wrap: wrap;
  }
  .contact-header {
    font-size: 1.5rem;
  }
  .tm-section-1-r h2 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .title-wrapper h1 {
    font-size: 2.5rem;
  }
  .title-wrapper h3 {
    font-size: 1.5rem;
  }
  .hamburger {
    display: block;
  }
  .tm-site-header {
    position: relative;
  }
  .tm-nav-items-mobile {
    width: 200px;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 10;
    background-color: #333;
  }
  .tm-nav-items {
    line-height: 3.5rem;
  }
  .tm-nav-item {
    text-align: center;
  }

  .container {
    /* background-color: #fff; */
    /* border-radius: 5px; */
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1); */
    position: relative;
    /* height: 135px; */
    /* width: 350px; */
  }

  /* Hamburger Menu */
  .content {
    display: block;
  }
  #menu-button {
    position: fixed;
    top: 60px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background: #111;
    border-radius: 5px;
    z-index: 200;
  }
  #menu-button:after {
    position: absolute;
    content: "☰";
    font-size: 42px;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  #menu-button:hover {
    opacity: 0.8;
  }

  #menu-button.on:after {
    content: "x";
  }

  #overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
  }

  #overlay.open {
    display: block;
  }

  #hamburger-menu {
    height: 0;
    width: 0;
    background: #111;
    position: fixed;
    top: 60px;
    left: 90px;
    z-index: 101;
    overflow: hidden;
    border-radius: 5px;
  }
  #hamburger-menu nav {
    padding: 10px;
    z-index: 101;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #hamburger-menu nav a {
    display: block;
    padding: 10px;
    /* height: 1em; */
    color: #ccc;
    font-size: 1em;
    line-height: rem;
    text-decoration: none;
    overflow: hidden;
  }
  #hamburger-menu nav a:hover {
    cursor: pointer;
    color: #fff;
    background: rgba(255, 255, 255, 0.02);
  }
}

/* text animations */

.container {
  width: 450px;
  height: 250px;
  position: relative;
  margin: 10rem auto 15rem auto;
}

.container h1,
.container h2 {
  font-size: 75px;
  text-transform: uppercase;
}
.container h1 span,
.container h2 span {
  width: 100%;
  float: left;
  color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 5s;
}

.container h1 span {
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.container h1 span:first-child {
  animation-delay: 0.7s;
}
.container h1 span:last-child {
  color: rgb(250, 112, 153);
  animation-delay: 0.5s;
}

.container h2 {
  top: 0;
  position: absolute;
}
.container h2 span {
  animation-iteration-count: 1;
  animation-delay: 4.1s;
  animation-fill-mode: forwards;
}
.container h2 span:first-child {
  animation-iteration-count: 1;
  animation-delay: 4.2s;
}
.container h2 span:last-child {
  animation-iteration-count: 1;
  color: rgb(250, 112, 153);
  animation-delay: 4s;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

/* use for projects part */
.animate {
  font-size: 50px;
  margin: 100px 0 0;
  border-bottom: 2px solid #ccc;
}

.animate span {
  display: inline-block;
}

a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: orange;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  margin: 0 0 0 50px;
  border-radius: 3px;
  position: relative;
  bottom: 15px;
}

a.repeat:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

/* Animation One */

.one span {
  color: #24a8e6;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale 0.4s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(0.3);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

/* Animation Two */

.two span {
  color: #a5cb21;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: ballDrop 0.3s forwards;
}

@keyframes ballDrop {
  60% {
    transform: translate(0, 20px) rotate(-180deg) scale(0.5);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

/* Animation Three */

.three span {
  color: #b10e81;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide 0.5s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }

  99% {
    transform: translate(0) scale(1.2);
    color: #00f0ff;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: #b10e81;
  }
}

/* Animation Four */

.four span {
  color: #8d6a00;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Animation Five */

.five span {
  color: #dd3f0f;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: dropVanish 0.5s forwards;
}

@keyframes dropVanish {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  50% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Animation Six */

.six span {
  color: #ddb40f;
  opacity: 0;
  transform: rotate(-180deg) translate(150px, 0);
  animation: twister 0.5s forwards;
}

@keyframes twister {
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0);
    opacity: 1;
  }
}

/* Animation Seven */

.seven span {
  color: #348c04;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #348c04;
  }

  60% {
    color: #0f40ba;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.text-description {
  width: 870px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3.8em;
}

.type-me {
  width: 0px;
  margin: 20rem auto 26rem auto;
}
.type-me span {
  color: rgb(250, 112, 153);
}

.works-1 {
  display: block;
  width: 75%;
  padding: 1rem;
  margin: 0 auto;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  cursor: hand;
  transition: all 0.5s;
}
.works-1:hover {
  color: rgb(250, 112, 153);
  letter-spacing: 5px;
}
.works-header {
  display: block;
  width: 75%;
  padding: 1rem;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  cursor: hand;
  transition: all 0.5s;
}
.works-header:hover {
  color: rgb(250, 112, 153);
  letter-spacing: 10px;
}

.project {
  display: block;
  width: 75%;
  padding: 1rem;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  cursor: hand;
  transition: all 0.5s;
}
.project:hover {
  color: rgb(250, 112, 153);
  letter-spacing: 10px;
}

.project-detail {
  display: block;
  width: 75%;
  padding: 1rem;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  cursor: hand;
  transition: all 0.5s;
}
.project-detail:hover {
  color: rgb(250, 112, 153);
  letter-spacing: 5px;
}

/*
 * Animation module with all animation code
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
.anim-text-flow span,
.anim-text-flow-hover:hover span {
  -webkit-animation-name: anim-text-flow-keys;
  animation-name: anim-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes anim-text-flow-keys {
  0% {
    color: #d65c81;
  }
  5% {
    color: #5cd676;
  }
  10% {
    color: #705cd6;
  }
  15% {
    color: #5cd4d6;
  }
  20% {
    color: #d6665c;
  }
  25% {
    color: #d68b5c;
  }
  30% {
    color: #5cd6a3;
  }
  35% {
    color: #5c7cd6;
  }
  40% {
    color: #d65c99;
  }
  45% {
    color: #d68b5c;
  }
  50% {
    color: #a35cd6;
  }
  55% {
    color: #9bd65c;
  }
  60% {
    color: #5cd6b6;
  }
  65% {
    color: #74d65c;
  }
  70% {
    color: #d65ca1;
  }
  75% {
    color: #5ca1d6;
  }
  80% {
    color: #5cc4d6;
  }
  85% {
    color: #d05cd6;
  }
  90% {
    color: #a5d65c;
  }
  95% {
    color: #815cd6;
  }
  100% {
    color: #875cd6;
  }
}
@keyframes anim-text-flow-keys {
  0% {
    color: #d65c81;
  }
  5% {
    color: #5cd676;
  }
  10% {
    color: #705cd6;
  }
  15% {
    color: #5cd4d6;
  }
  20% {
    color: #d6665c;
  }
  25% {
    color: #d68b5c;
  }
  30% {
    color: #5cd6a3;
  }
  35% {
    color: #5c7cd6;
  }
  40% {
    color: #d65c99;
  }
  45% {
    color: #d68b5c;
  }
  50% {
    color: #a35cd6;
  }
  55% {
    color: #9bd65c;
  }
  60% {
    color: #5cd6b6;
  }
  65% {
    color: #74d65c;
  }
  70% {
    color: #d65ca1;
  }
  75% {
    color: #5ca1d6;
  }
  80% {
    color: #5cc4d6;
  }
  85% {
    color: #d05cd6;
  }
  90% {
    color: #a5d65c;
  }
  95% {
    color: #815cd6;
  }
  100% {
    color: #875cd6;
  }
}
.anim-text-flow span:nth-of-type(1),
.anim-text-flow-hover:hover span:nth-of-type(1) {
  -webkit-animation-delay: -19.8s;
  animation-delay: -19.8s;
}
.anim-text-flow span:nth-of-type(2),
.anim-text-flow-hover:hover span:nth-of-type(2) {
  -webkit-animation-delay: -19.6s;
  animation-delay: -19.6s;
}
.anim-text-flow span:nth-of-type(3),
.anim-text-flow-hover:hover span:nth-of-type(3) {
  -webkit-animation-delay: -19.4s;
  animation-delay: -19.4s;
}
.anim-text-flow span:nth-of-type(4),
.anim-text-flow-hover:hover span:nth-of-type(4) {
  -webkit-animation-delay: -19.2s;
  animation-delay: -19.2s;
}
.anim-text-flow span:nth-of-type(5),
.anim-text-flow-hover:hover span:nth-of-type(5) {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
}
.anim-text-flow span:nth-of-type(6),
.anim-text-flow-hover:hover span:nth-of-type(6) {
  -webkit-animation-delay: -18.8s;
  animation-delay: -18.8s;
}
.anim-text-flow span:nth-of-type(7),
.anim-text-flow-hover:hover span:nth-of-type(7) {
  -webkit-animation-delay: -18.6s;
  animation-delay: -18.6s;
}
.anim-text-flow span:nth-of-type(8),
.anim-text-flow-hover:hover span:nth-of-type(8) {
  -webkit-animation-delay: -18.4s;
  animation-delay: -18.4s;
}
.anim-text-flow span:nth-of-type(9),
.anim-text-flow-hover:hover span:nth-of-type(9) {
  -webkit-animation-delay: -18.2s;
  animation-delay: -18.2s;
}
.anim-text-flow span:nth-of-type(10),
.anim-text-flow-hover:hover span:nth-of-type(10) {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
}
.anim-text-flow span:nth-of-type(11),
.anim-text-flow-hover:hover span:nth-of-type(11) {
  -webkit-animation-delay: -17.8s;
  animation-delay: -17.8s;
}
.anim-text-flow span:nth-of-type(12),
.anim-text-flow-hover:hover span:nth-of-type(12) {
  -webkit-animation-delay: -17.6s;
  animation-delay: -17.6s;
}
.anim-text-flow span:nth-of-type(13),
.anim-text-flow-hover:hover span:nth-of-type(13) {
  -webkit-animation-delay: -17.4s;
  animation-delay: -17.4s;
}
.anim-text-flow span:nth-of-type(14),
.anim-text-flow-hover:hover span:nth-of-type(14) {
  -webkit-animation-delay: -17.2s;
  animation-delay: -17.2s;
}
.anim-text-flow span:nth-of-type(15),
.anim-text-flow-hover:hover span:nth-of-type(15) {
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
}
.anim-text-flow span:nth-of-type(16),
.anim-text-flow-hover:hover span:nth-of-type(16) {
  -webkit-animation-delay: -16.8s;
  animation-delay: -16.8s;
}
.anim-text-flow span:nth-of-type(17),
.anim-text-flow-hover:hover span:nth-of-type(17) {
  -webkit-animation-delay: -16.6s;
  animation-delay: -16.6s;
}
.anim-text-flow span:nth-of-type(18),
.anim-text-flow-hover:hover span:nth-of-type(18) {
  -webkit-animation-delay: -16.4s;
  animation-delay: -16.4s;
}
.anim-text-flow span:nth-of-type(19),
.anim-text-flow-hover:hover span:nth-of-type(19) {
  -webkit-animation-delay: -16.2s;
  animation-delay: -16.2s;
}
.anim-text-flow span:nth-of-type(20),
.anim-text-flow-hover:hover span:nth-of-type(20) {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}
.anim-text-flow span:nth-of-type(21),
.anim-text-flow-hover:hover span:nth-of-type(21) {
  -webkit-animation-delay: -15.8s;
  animation-delay: -15.8s;
}
.anim-text-flow span:nth-of-type(22),
.anim-text-flow-hover:hover span:nth-of-type(22) {
  -webkit-animation-delay: -15.6s;
  animation-delay: -15.6s;
}
.anim-text-flow span:nth-of-type(23),
.anim-text-flow-hover:hover span:nth-of-type(23) {
  -webkit-animation-delay: -15.4s;
  animation-delay: -15.4s;
}
.anim-text-flow span:nth-of-type(24),
.anim-text-flow-hover:hover span:nth-of-type(24) {
  -webkit-animation-delay: -15.2s;
  animation-delay: -15.2s;
}
.anim-text-flow span:nth-of-type(25),
.anim-text-flow-hover:hover span:nth-of-type(25) {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
.anim-text-flow span:nth-of-type(26),
.anim-text-flow-hover:hover span:nth-of-type(26) {
  -webkit-animation-delay: -14.8s;
  animation-delay: -14.8s;
}
.anim-text-flow span:nth-of-type(27),
.anim-text-flow-hover:hover span:nth-of-type(27) {
  -webkit-animation-delay: -14.6s;
  animation-delay: -14.6s;
}
.anim-text-flow span:nth-of-type(28),
.anim-text-flow-hover:hover span:nth-of-type(28) {
  -webkit-animation-delay: -14.4s;
  animation-delay: -14.4s;
}
.anim-text-flow span:nth-of-type(29),
.anim-text-flow-hover:hover span:nth-of-type(29) {
  -webkit-animation-delay: -14.2s;
  animation-delay: -14.2s;
}
.anim-text-flow span:nth-of-type(30),
.anim-text-flow-hover:hover span:nth-of-type(30) {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
}
.anim-text-flow span:nth-of-type(31),
.anim-text-flow-hover:hover span:nth-of-type(31) {
  -webkit-animation-delay: -13.8s;
  animation-delay: -13.8s;
}
.anim-text-flow span:nth-of-type(32),
.anim-text-flow-hover:hover span:nth-of-type(32) {
  -webkit-animation-delay: -13.6s;
  animation-delay: -13.6s;
}
.anim-text-flow span:nth-of-type(33),
.anim-text-flow-hover:hover span:nth-of-type(33) {
  -webkit-animation-delay: -13.4s;
  animation-delay: -13.4s;
}
.anim-text-flow span:nth-of-type(34),
.anim-text-flow-hover:hover span:nth-of-type(34) {
  -webkit-animation-delay: -13.2s;
  animation-delay: -13.2s;
}
.anim-text-flow span:nth-of-type(35),
.anim-text-flow-hover:hover span:nth-of-type(35) {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
}
.anim-text-flow span:nth-of-type(36),
.anim-text-flow-hover:hover span:nth-of-type(36) {
  -webkit-animation-delay: -12.8s;
  animation-delay: -12.8s;
}
.anim-text-flow span:nth-of-type(37),
.anim-text-flow-hover:hover span:nth-of-type(37) {
  -webkit-animation-delay: -12.6s;
  animation-delay: -12.6s;
}
.anim-text-flow span:nth-of-type(38),
.anim-text-flow-hover:hover span:nth-of-type(38) {
  -webkit-animation-delay: -12.4s;
  animation-delay: -12.4s;
}
.anim-text-flow span:nth-of-type(39),
.anim-text-flow-hover:hover span:nth-of-type(39) {
  -webkit-animation-delay: -12.2s;
  animation-delay: -12.2s;
}
.anim-text-flow span:nth-of-type(40),
.anim-text-flow-hover:hover span:nth-of-type(40) {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}
.anim-text-flow span:nth-of-type(41),
.anim-text-flow-hover:hover span:nth-of-type(41) {
  -webkit-animation-delay: -11.8s;
  animation-delay: -11.8s;
}
.anim-text-flow span:nth-of-type(42),
.anim-text-flow-hover:hover span:nth-of-type(42) {
  -webkit-animation-delay: -11.6s;
  animation-delay: -11.6s;
}
.anim-text-flow span:nth-of-type(43),
.anim-text-flow-hover:hover span:nth-of-type(43) {
  -webkit-animation-delay: -11.4s;
  animation-delay: -11.4s;
}
.anim-text-flow span:nth-of-type(44),
.anim-text-flow-hover:hover span:nth-of-type(44) {
  -webkit-animation-delay: -11.2s;
  animation-delay: -11.2s;
}
.anim-text-flow span:nth-of-type(45),
.anim-text-flow-hover:hover span:nth-of-type(45) {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
}
.anim-text-flow span:nth-of-type(46),
.anim-text-flow-hover:hover span:nth-of-type(46) {
  -webkit-animation-delay: -10.8s;
  animation-delay: -10.8s;
}
.anim-text-flow span:nth-of-type(47),
.anim-text-flow-hover:hover span:nth-of-type(47) {
  -webkit-animation-delay: -10.6s;
  animation-delay: -10.6s;
}
.anim-text-flow span:nth-of-type(48),
.anim-text-flow-hover:hover span:nth-of-type(48) {
  -webkit-animation-delay: -10.4s;
  animation-delay: -10.4s;
}
.anim-text-flow span:nth-of-type(49),
.anim-text-flow-hover:hover span:nth-of-type(49) {
  -webkit-animation-delay: -10.2s;
  animation-delay: -10.2s;
}
.anim-text-flow span:nth-of-type(50),
.anim-text-flow-hover:hover span:nth-of-type(50) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.anim-text-flow span:nth-of-type(51),
.anim-text-flow-hover:hover span:nth-of-type(51) {
  -webkit-animation-delay: -9.8s;
  animation-delay: -9.8s;
}
.anim-text-flow span:nth-of-type(52),
.anim-text-flow-hover:hover span:nth-of-type(52) {
  -webkit-animation-delay: -9.6s;
  animation-delay: -9.6s;
}
.anim-text-flow span:nth-of-type(53),
.anim-text-flow-hover:hover span:nth-of-type(53) {
  -webkit-animation-delay: -9.4s;
  animation-delay: -9.4s;
}
.anim-text-flow span:nth-of-type(54),
.anim-text-flow-hover:hover span:nth-of-type(54) {
  -webkit-animation-delay: -9.2s;
  animation-delay: -9.2s;
}
.anim-text-flow span:nth-of-type(55),
.anim-text-flow-hover:hover span:nth-of-type(55) {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.anim-text-flow span:nth-of-type(56),
.anim-text-flow-hover:hover span:nth-of-type(56) {
  -webkit-animation-delay: -8.8s;
  animation-delay: -8.8s;
}
.anim-text-flow span:nth-of-type(57),
.anim-text-flow-hover:hover span:nth-of-type(57) {
  -webkit-animation-delay: -8.6s;
  animation-delay: -8.6s;
}
.anim-text-flow span:nth-of-type(58),
.anim-text-flow-hover:hover span:nth-of-type(58) {
  -webkit-animation-delay: -8.4s;
  animation-delay: -8.4s;
}
.anim-text-flow span:nth-of-type(59),
.anim-text-flow-hover:hover span:nth-of-type(59) {
  -webkit-animation-delay: -8.2s;
  animation-delay: -8.2s;
}
.anim-text-flow span:nth-of-type(60),
.anim-text-flow-hover:hover span:nth-of-type(60) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.anim-text-flow span:nth-of-type(61),
.anim-text-flow-hover:hover span:nth-of-type(61) {
  -webkit-animation-delay: -7.8s;
  animation-delay: -7.8s;
}
.anim-text-flow span:nth-of-type(62),
.anim-text-flow-hover:hover span:nth-of-type(62) {
  -webkit-animation-delay: -7.6s;
  animation-delay: -7.6s;
}
.anim-text-flow span:nth-of-type(63),
.anim-text-flow-hover:hover span:nth-of-type(63) {
  -webkit-animation-delay: -7.4s;
  animation-delay: -7.4s;
}
.anim-text-flow span:nth-of-type(64),
.anim-text-flow-hover:hover span:nth-of-type(64) {
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
}
.anim-text-flow span:nth-of-type(65),
.anim-text-flow-hover:hover span:nth-of-type(65) {
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}
.anim-text-flow span:nth-of-type(66),
.anim-text-flow-hover:hover span:nth-of-type(66) {
  -webkit-animation-delay: -6.8s;
  animation-delay: -6.8s;
}
.anim-text-flow span:nth-of-type(67),
.anim-text-flow-hover:hover span:nth-of-type(67) {
  -webkit-animation-delay: -6.6s;
  animation-delay: -6.6s;
}
.anim-text-flow span:nth-of-type(68),
.anim-text-flow-hover:hover span:nth-of-type(68) {
  -webkit-animation-delay: -6.4s;
  animation-delay: -6.4s;
}
.anim-text-flow span:nth-of-type(69),
.anim-text-flow-hover:hover span:nth-of-type(69) {
  -webkit-animation-delay: -6.2s;
  animation-delay: -6.2s;
}
.anim-text-flow span:nth-of-type(70),
.anim-text-flow-hover:hover span:nth-of-type(70) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.anim-text-flow span:nth-of-type(71),
.anim-text-flow-hover:hover span:nth-of-type(71) {
  -webkit-animation-delay: -5.8s;
  animation-delay: -5.8s;
}
.anim-text-flow span:nth-of-type(72),
.anim-text-flow-hover:hover span:nth-of-type(72) {
  -webkit-animation-delay: -5.6s;
  animation-delay: -5.6s;
}
.anim-text-flow span:nth-of-type(73),
.anim-text-flow-hover:hover span:nth-of-type(73) {
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
}
.anim-text-flow span:nth-of-type(74),
.anim-text-flow-hover:hover span:nth-of-type(74) {
  -webkit-animation-delay: -5.2s;
  animation-delay: -5.2s;
}
.anim-text-flow span:nth-of-type(75),
.anim-text-flow-hover:hover span:nth-of-type(75) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.anim-text-flow span:nth-of-type(76),
.anim-text-flow-hover:hover span:nth-of-type(76) {
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.anim-text-flow span:nth-of-type(77),
.anim-text-flow-hover:hover span:nth-of-type(77) {
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}
.anim-text-flow span:nth-of-type(78),
.anim-text-flow-hover:hover span:nth-of-type(78) {
  -webkit-animation-delay: -4.4s;
  animation-delay: -4.4s;
}
.anim-text-flow span:nth-of-type(79),
.anim-text-flow-hover:hover span:nth-of-type(79) {
  -webkit-animation-delay: -4.2s;
  animation-delay: -4.2s;
}
.anim-text-flow span:nth-of-type(80),
.anim-text-flow-hover:hover span:nth-of-type(80) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.anim-text-flow span:nth-of-type(81),
.anim-text-flow-hover:hover span:nth-of-type(81) {
  -webkit-animation-delay: -3.8s;
  animation-delay: -3.8s;
}
.anim-text-flow span:nth-of-type(82),
.anim-text-flow-hover:hover span:nth-of-type(82) {
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.anim-text-flow span:nth-of-type(83),
.anim-text-flow-hover:hover span:nth-of-type(83) {
  -webkit-animation-delay: -3.4s;
  animation-delay: -3.4s;
}
.anim-text-flow span:nth-of-type(84),
.anim-text-flow-hover:hover span:nth-of-type(84) {
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
}
.anim-text-flow span:nth-of-type(85),
.anim-text-flow-hover:hover span:nth-of-type(85) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.anim-text-flow span:nth-of-type(86),
.anim-text-flow-hover:hover span:nth-of-type(86) {
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s;
}
.anim-text-flow span:nth-of-type(87),
.anim-text-flow-hover:hover span:nth-of-type(87) {
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s;
}
.anim-text-flow span:nth-of-type(88),
.anim-text-flow-hover:hover span:nth-of-type(88) {
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.anim-text-flow span:nth-of-type(89),
.anim-text-flow-hover:hover span:nth-of-type(89) {
  -webkit-animation-delay: -2.2s;
  animation-delay: -2.2s;
}
.anim-text-flow span:nth-of-type(90),
.anim-text-flow-hover:hover span:nth-of-type(90) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.anim-text-flow span:nth-of-type(91),
.anim-text-flow-hover:hover span:nth-of-type(91) {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}
.anim-text-flow span:nth-of-type(92),
.anim-text-flow-hover:hover span:nth-of-type(92) {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}
.anim-text-flow span:nth-of-type(93),
.anim-text-flow-hover:hover span:nth-of-type(93) {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}
.anim-text-flow span:nth-of-type(94),
.anim-text-flow-hover:hover span:nth-of-type(94) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.anim-text-flow span:nth-of-type(95),
.anim-text-flow-hover:hover span:nth-of-type(95) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.anim-text-flow span:nth-of-type(96),
.anim-text-flow-hover:hover span:nth-of-type(96) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.anim-text-flow span:nth-of-type(97),
.anim-text-flow-hover:hover span:nth-of-type(97) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.anim-text-flow span:nth-of-type(98),
.anim-text-flow-hover:hover span:nth-of-type(98) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.anim-text-flow span:nth-of-type(99),
.anim-text-flow-hover:hover span:nth-of-type(99) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.anim-text-flow span:nth-of-type(100),
.anim-text-flow-hover:hover span:nth-of-type(100) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.txt {
  display: block;
}
