.title-wrapper {
  margin: 5rem 0 25rem 0;
}
.title-wrapper h1 {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0.06em;
  font-weight: 500;
}
.title-wrapper h3 {
  font-size: 6vw;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-weight: 100;
}
.tm-section-1-l {
  width: 30%;
  margin-right: 10rem;
}
.tm-section-1-l img {
  border-radius: 50%;
  width: 100%;
}
.tm-section-1-r {
  width: 60%;
}
#services {
  margin: 20rem 0;
}
.works-header {
  margin-bottom: 5rem;
  font-size: 9vw;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: 500;
  border-bottom: 3px solid #000;
}
.project {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: 500;
}
.project-detail {
  margin: 5rem 0;
  font-size: 3rem;
}
